*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    scroll-behavior:smooth ;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.hamburger{
    position:fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor:pointer;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}



.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.contendor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
}

.contendor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color:#9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background:#f2f2f2;
}

.contenedor-galeria{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}



footer{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding-bottom: 0.1px;
    
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color:#9b23ea;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*/*//*/*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top:  30px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(28, 82, 162, 0.338);
}

.f_titulo{
    text-align: center;
    margin-top: 0;
    color: rgb(44, 160, 193);
}

.f_input, .f_label, .f_submit{
    display: block;
    width: 100%;
    font-size: 1.3 em;
}

.f_input{
    padding: 20px;
    background-color:rgba(44, 160, 193, 0.13);
    border: 1px solid blue;
    margin-bottom: 40px;
}

.f_input:focus{
    outline: 1px solid greenyellow;
}

.f_input:focus + .f_label{
    margin-top: -135px;
}

.f_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: 20;
    color: rgb(125, 125, 255);
    transition: all 2s;
}

.f_submit{
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color: rgb(8, 8, 8);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px;
}