* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.container {
    display: flex;
    justify-content: center;
}
.calculadora {
    width: 400px;
    height: 600px;
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;

}

.calculadora button {
    font-size: 1.5rem;
    background-color: rgba(126, 78, 158, 0.562);
    border-radius: 50%;
    border: 2px #000000 solid;
    margin:2px;

}

.calculadora button:hover {
    background-color: silver;
}


.display {
    height: 120px;
    background-color: #fff;
    opacity: .7;
    grid-column: 1/-1;
    border: 2px #333333 solid;
    text-align: end;
    padding: 10px 0;
}

.span2 {
    grid-column: span 2;
}
.valor-superior {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 30px;

}

.valor-inferior {
    color: black;
    font-size: 2rem;

}

/*/*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    scroll-behavior:smooth ;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.hamburger{
    position:fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor:pointer;
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}



.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}

.contendor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
}

.contendor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color:#9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background:#f2f2f2;
}

.contenedor-galeria{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}



footer{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding-bottom: 0.1px;
    
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color:#9b23ea;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}